<!DOCTYPE html>
<html lang="en">
<head>
<!-- SEO -->
<link rel="stylesheet" type="text/css" href="styles.css" />
<meta name="google" content="notranslate" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>SaaSduo — Each interaction matters</title>
<link rel="icon" href="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/Favicon%20SaaSduo%20Sept%202023.png?v=1694096820084"/>
<link rel="canonical" href="saasduo.com" />
<meta name="description" content="SaaS engineers based in London, we provide end-to-end SaaS solutions such as internal software, consumer platforms, and startup applications." />
<meta property="og:title" content="SaaSduo — Each interaction matters" />
<meta property="og:type" content="article" />
<meta property="og:url" content="saasduo.com" />
<meta property="og:description" content="SaaS engineers based in London UK, we provide end-to-end SaaS solutions such as internal software, consumer platforms, and startup applications."/>
<meta property="og:image" content="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20SEO.png?v=1693254863799" />
<meta name="twitter:card" content="SaaS engineers based in London UK, we provide end-to-end SaaS solutions such as internal software, consumer platforms, and startup applications." />

<!-- CSS -->
<link rel="stylesheet" href="/style.css" />

<!-- JS -->
<script src="/script.js" defer></script>
</head>
  
  
  
  
  
  <body>




    


    
    
    

    
    
    
        <div class="priceblock">
      <br><br>
      <img
        src="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20Logo.svg?v=1693315892152"
        class="logoflatty"
      />
      
                  <p class="priceblockTXT">Inform us of your demands</p>

              <p class="priceblockTXT2">
                These details will help us understand your guidelines — and we will contact you within 1 day

        </p>
      
      <br>
          
          
          <div class="form-containercontact">
            
            
            <br> <br> 
  <input
    type="text"
    class="input-fieldfix1"
    placeholder="Enter your business email"
  />
       <br> <br>     
              <input
    type="text"
    class="input-fieldfix1"
    placeholder="Enter your phone number"
  />
            
                   <br> <br>    <br>     

                        
                                      <p class="priceblockTXT2">
        What describes your project the best
        </p>
            
<div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton1" checked>
            <label for="bouton1">Internal Platform</label>
        </div>
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton2">
            <label for="bouton2">Critical Features App</label>
        </div>
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton3">
            <label for="bouton3">Mobile App</label>
        </div>
                    <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton4">
            <label for="bouton4">Enterprise Software</label>
        </div>
                                <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton5">
            <label for="bouton5">User Experience SaaS</label>
        </div>
            
                   <br>     <br>   
            
             <div class="uniplasse">
            <button class="justriding">Share your requirements and ideas</button>

<textarea
    class="input-fieldfix193"
    placeholder="I'm looking for ..."
    style="height: 210px; resize: none;"
              oninput="limitTextarea(this, 330);"

></textarea>
               <script>
function limitTextarea(element, maxLength) {
    if (element.value.length > maxLength) {
        element.value = element.value.slice(0, maxLength);
    }
}
</script>
</div>
            <br><br>

            
                    <a href="https://saasduo.com/2973927302738923729376287352932693287325327323592352673823/"> <button class="red-price-button">Send my request</button></a>

                <p class="blue-txt93">Already have an account? <a href="https://saasduo.com/customer-platform/" class="blue-link">Log in</a> — <a href="https://saasduo.com/privacy/" class="blue-link">Privacy</a></p>

</div>
          
          
      
      <br><br><br><br><br>
    </div>    
    
 
    
    
    

    


    
    


    
    
    

    


    
    
    

    
    

    
    
    
    


  </body>

  <script>
    if (location.protocol != "https:") {
      location.href =
        "https:" +
        window.location.href.substring(window.location.protocol.length);
    }
  </script>
</html>
