<!DOCTYPE html>
<html lang="en">
<head>
<!-- SEO -->
<link rel="stylesheet" type="text/css" href="styles.css" />
<meta name="google" content="notranslate" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>SaaSduo — Each interaction matters</title>
<link rel="icon" href="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/Favicon%20SaaSduo%20Sept%202023.png?v=1694096820084"/>
<link rel="canonical" href="saasduo.com" />
<meta name="description" content="SaaS engineers based in London, we provide end-to-end SaaS solutions such as internal software, consumer platforms, and startup applications." />
<meta property="og:title" content="SaaSduo — Each interaction matters" />
<meta property="og:type" content="article" />
<meta property="og:url" content="saasduo.com" />
<meta property="og:description" content="SaaS engineers based in London UK, we provide end-to-end SaaS solutions such as internal software, consumer platforms, and startup applications."/>
<meta property="og:image" content="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20SEO.png?v=1693254863799" />
<meta name="twitter:card" content="SaaS engineers based in London UK, we provide end-to-end SaaS solutions such as internal software, consumer platforms, and startup applications." />

<!-- CSS -->
<link rel="stylesheet" href="/style.css" />

<!-- JS -->
<script src="/script.js" defer></script>
</head>
  
  
  
  
  
  <body>


        <div class="embrasse">

    <div class="containertri">
      <div class="columntri column1tri">
        <img
          class="navlogo"
          src="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20Logo.svg?v=1693315892152"
          alt=""
        />
      </div>
      <div class="columntri column2tri">
        <a href="/customer-platform"><button class="triathlon-button">Customer Platform</button></a>

        <label class="dropdown">
          <div class="dd-button">Sign Up for Free</div>

          <input type="checkbox" class="dd-input" id="test" />

          <ul class="dd-menu">
            <li>
              <a
                target="_blank"
                href="mailto:about@saasduo.com"
                >about@saasduo.com</a
              >
            </li>
            <li>
              <a target="_blank" href="tel:+447723501018"
                >+44 7723 501018</a
              >
            </li>
            <li><a href="https://wa.me/447723501018">WhatsApp</a></li>
            <li class="divider"></li>
            <li>
              <a class="elonmusk"
                target="_blank"
                href="/contact"
                >Contact methods</a
              >
            </li>
          </ul>
        </label>
      </div>
    </div>    </div>

    


    
    
    

    
    
    
        <div class="priceblock">
      <br><br>

      
                  <p class="priceblockTXT">Your SaaS story starts here</p>

              <p class="priceblockTXT2">
         SaaSduo builds mission-critical software that helps SMBs and industry leaders bloom
        </p>
      
      <img
        src="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20Illustration%20What%20We%20Offer.svg?v=1693315888334"
        class="hand"
      />
      <br>
        <a href="/contact"> <button class="red-price-button">Request a call</button></a>
          
          
          <div class="form-containercontact">
            <br> <br> 
  <input
    type="text"
    class="input-fieldfix1"
    placeholder="Enter your business email"
  />
       <br> <br>     
              <input
    type="text"
    class="input-fieldfix1"
    placeholder="Enter your phone number"
  />
            
                   <br> <br>     

            
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton1">
            <label for="bouton1">Blabla 1</label>
        </div>
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton2">
            <label for="bouton2">Blabla 2</label>
        </div>
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton3">
            <label for="bouton3">Blabla 3</label>
        </div>

</div>
          
          
      
      <br><br><br><br><br>
    </div>    
    
 
    
    
    

    


    
    


    
    
    

    


    
    
    

    
    

    
    
    
    


  </body>

  <script>
    if (location.protocol != "https:") {
      location.href =
        "https:" +
        window.location.href.substring(window.location.protocol.length);
    }
  </script>
</html>
